:root {
    --primary-color-text: #212121;
    --secondary-color-text: #757575;
    --white-color-text: #FFFFFF;
    --hover-color-text: #2196F3;
    --hero-footer-background-color: #2F303A;
    --primary-background-color: #F5F5F5;
    --secondary-background-color: #FFFFFF;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-color-text);
    font-family: Roboto, sans-serif;
}

.link {
    text-decoration: none;
}

.paragraph {
    color: var(--secondary-color-text);
}

h2 {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}



/* Header */

.header {
    background-color: var(--secondary-background-color);
}

.logo {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
}

.logo .first-text{
    color: var(--hover-color-text);
    font-family: Raleway, sans-serif;

}

.navigation .link {
    color: var(--primary-color-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.address .link {
    color: var(--secondary-color-text);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.navigation .link:hover,
.address .link:hover {
    color: var(--hover-color-text);
}



/* Main block */

/* Hero */
.hero {
    background-color: var(--hero-footer-background-color);
}

.hero .title{
    color: var(--white-color-text);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
}

.hero .link{
    background-color: var(--hover-color-text);
    color: var(--white-color-text);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
}

/* description */
.description .title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.description .paragraph {
    font-size: 14px;
    line-height: 1.71;
}

/* Command */
.command {
    background-color: #F5F4FA;
}

.card {
    background-color: var(--secondary-background-color);
}

.command .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.command .paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

/* Footer */
.footer {
    background-color: var(--hero-footer-background-color);
}

.footer .logo {
    color: var(--white-color-text);
}

.address .street {
    color: var(--white-color-text);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}


/* PORTFOLIO */

/* portfilio */

.portfolio .title {
    color: var(--primary-color-text);
    font-size: 18px;
    line-height: 2;
}

.portfolio .paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}